# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db
=======
dist/
env/
venv/
venv3/
.venv/
.pytest_cache
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea
*.DS_Store
