.footer-container {
    background-color: #0077cc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin-top: 10px;

    a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}