body {
    background-color: #303030; /* Dark gray background color */
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
  
  header, footer {
    background-color: #007acc; /* Dark blue color, you can change it */
    color: white;
  }